<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraping App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#startButton").click(function() {
                var url = $("#urlInput").val();
                $.ajax({
                    url: "/start",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({url: url}),
                    success: function(response) {
                        $("#message").text(response.message);
                        $("#status").text("scraping");
                        checkStatus();
                    },
                    error: function(xhr) {
                        $("#message").text("Error: " + xhr.responseJSON.error);
                    }
                });
            });

            $("#stopButton").click(function() {
                $.ajax({
                    url: "/stop",
                    type: "GET",
                    success: function(response) {
                        $("#message").text(response.message);
                        $("#status").text("finished");
                        window.location.href = "/download";
                    },
                    error: function(xhr) {
                        $("#message").text("Error: " + xhr.responseJSON.error);
                    }
                });
            });

            function checkStatus() {
                $.ajax({
                    url: "/status",
                    type: "GET",
                    success: function(response) {
                        $("#status").text(response.status);
                        if (response.status === "scraping") {
                            setTimeout(checkStatus, 5000); // Verificar cada 5 segundos
                        } else if (response.status === "finished") {
                            window.location.href = "/download";
                        }
                    }
                });
            }

            checkStatus(); // Comenzar a verificar el estado cuando se carga la página
        });
    </script>
</head>
<body>
    <h1>Scraping App</h1>
    <input type="text" id="urlInput" placeholder="Enter URL">
    <button id="startButton">Start Scraping</button>
    <button id="stopButton">Stop Scraping</button>
    <p id="message"></p>
    <p>Status: <span id="status">no_scraping</span></p>
    <a id="downloadLink" href="/download" style="display: none;">Download CSV</a>
</body>
</html>
