<!DOCTYPE html>
<html>
<head>
    <title>Scraping App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function startScraping() {
            let url = $('#url').val();
            $.ajax({
                url: '/start',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ url: url }),
                success: function(data) {
                    $('#message').text(data.message);
                    $('#status').text("Status: scraping");
                    checkStatus();
                },
                error: function(xhr, status, error) {
                    console.error('Error starting scraping:', error);
                    $('#message').text('Error starting scraping: ' + error);
                }
            });
        }

        function stopScraping() {
            $.get('/stop', function(data) {
                $('#message').text(data.message);
                $('#status').text("Status: finished");
                window.location.href = '/download';
            });
        }

        function checkStatus() {
            $.get('/status', function(data) {
                $('#status').text("Status: " + data.status);
                if (data.status === "scraping") {
                    setTimeout(checkStatus, 5000);
                } else if (data.status === "finished") {
                    window.location.href = '/download';
                }
            });
        }

        function reset() {
            $.get('/reset', function() {
                $('#message').text('');
                $('#status').text("Status: no_scraping");
                $('#url').val('');
            });
        }
    </script>
</head>
<body>
    <h1>Scraping App</h1>
    <input type="text" id="url" placeholder="Enter URL" value="https://www.idealista.com/en/venta-viviendas/campo-huesca/"/>
    <button onclick="startScraping()">Start Scraping</button>
    <button onclick="stopScraping()">Stop Scraping</button>
    <button onclick="reset()">Reset</button>
    <p id="message"></p>
    <p id="status">Status: {{ status }}</p>
</body>
</html>
